<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-19 Tracker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/search.css">
</head>
<body>
    <div class="container">
        <main>
            <div class="row justify-content-md-center top_div">
                <div class="logo_div">
                    <img src="/img/covid_logo.jpg" alt="COVID LOGO">
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col error_col">
                    <h1 class="error_phrase">Sorry, couldn't find what you asked for</h1>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <a href="/" class="main_link">Back to main page</a>
            </div>
        </main>
        <footer>
            <div class="row justify-content-md-center footer_div">
                <div class="col footer_col">
                    <span class="powered_footer">Powered by <a href="https://disease.sh/docs/#/" target="_blank">disease.sh</a> - design by <a href="https://www.linkedin.com/in/brunozapico/" target="_blank">Bruno Zapico</a></span>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>