.top_div {
    margin-top: 150px;
}

/* LOGO */
.logo_div {
    width: 70%;
    height: auto;
    margin-bottom: 30px;
}

.logo_div > img {
    width: 100%;
}
/* LOGO */

/* SEARCH BAR */
.form_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form_container > form {
    width: 50%;
    display: flex;
}

.form_container > form > div > input {
    border: 1px solid gray;
    border-right: none;
}

.form_container > form > div > input:active, .form_container > form > div > input:focus {
    outline: none;
    border-color: gray;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: black;
}

.form_container > form > div > div > button {
    border: 1px solid gray;
    border-left: none;
}

.form_container > form > div > div > button:hover {
    background-color: red;
    transition: none;
}

.form_container > form > div > div > button > i {
    color: black;
}

.form_container > form > div > div > button:hover > i {
    color: white;
}
/* SEARCH BAR */

/* FULL DATA BUTTON */

.full_data_div {
    margin-top: 40px;
}

.full_data_div > a {
    background-color: red;
    border-radius: 30px;
    padding: 10px 20px;
    color: white;
}

.full_data_div > a:hover {
    background-color: rgb(210, 0, 0);
    text-decoration: none;
    box-shadow: 0px 0px 10px rgb(180, 180, 180);
}

.full_data_div > a:active {
    background-color:  rgb(190, 0, 0);
    padding: 9px 18px;
}


/* FULL DATA BUTTON */